
*{
    box-sizing: border-box;
  }

:root{
--main-text-color: #575858;
--text-light-grey: #464c54;
--bg-color-grey: #69727d;
--text-color-black: #060607;
--bg-color-orange: #f85415;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* start of teach english online section  */
.wrap{
    width: 100%;
    min-width: 1200px;
    background: radial-gradient(closest-side at 40% 50%,#fef0cd,#ffdb90);
    margin: 0;
    padding: 0;
}
.content-wrapper{
    width: 1200px;
    height: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* start of navigation bar section  */
.nav-wrapper{
    width: 100%;
    min-width: 1200px;
    color: var(--text-light-grey);
    font-weight: 500;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    height: 100px;
}
.menu-left{
    display: flex;
    align-items: center;
}
.menu-left a{
    margin: -5px 25px 0 0;
    display: block;
    line-height: 1;
    text-decoration: none;
}
.menu-left img{
    width: 100px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.menu-right{
    display: flex;
    align-items: center;
}
.menu-right a{
    display: block;
    line-height: 1;
    margin: 0 25px;
    text-decoration: none;
    padding: 0; 
    color: var(--text-light-grey);
    font-size: 16px;
    font-weight: 600;
}
.menu-right a.button{
    padding: 12px 48px;
    background: var(--bg-color-orange);
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    color: #f8f8f8;
    text-decoration: none;
    display: block;
    line-height: 1;
    margin: 0 25px;
    font-weight: 600;
}
/* end of navigation bar section  */

/* start of email form section */
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* start of text and banner section */
.text-wrapper{
    margin-top: 75px;
}
.text-wrapper img.banner{
    height: 350px;
    position: absolute;
    left: -50px;
    bottom: 0;
    max-width: 100%;
    display: inline-block;

}
.text h1.teach-english{
    border-bottom: none;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    display: inline;
    color: var(--main-text-color);
    margin-top: 20px;
    margin-bottom: 10px;
}
.text h2.money{
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    text-indent: .1em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--main-text-color);
}
/* end of text and banner section */

/* start of login and password section */
.login-box{
    height: auto;
    position: relative;
    border-radius: 4px;
    padding: 10px 0 15px;
}
.login-box .each-cell{
    align-items: center;
    display: flex;
}
.login-box .main-box{
    max-width: 1200px;
    margin: 5% auto;
    position: relative;
    display: block;
}
/* start of form section */
.signup-wrapper{
    width: 420px;
    height: auto;
    padding: 30px;
    border-radius: 8px;
    background:#ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    margin: 0 auto;
}
.signup-wrapper .title{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-text-color);
}
.signup-box-wrapper{
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--text-light-grey);
}
.signup-box-wrapper .input{
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    line-height: 48px;
    color: var(--text-light-grey);
}
.signup-box-wrapper .input-inner{
    border-radius: 8px;
    line-height: 18px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: var(--main-text-color);
    border-color: #e3e5e8;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    background-image: none;
    display: inline-block;
    padding: 0 15px;
}
.signup-box-wrapper .footnote-box{
    color: #9199a3;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
}
.signup-box-wrapper .footnote-box a{
    color:#9199a3;
    text-decoration: underline;
}
.signup-box-wrapper .btn-box{
    font-size: 16px;
    color: var(--text-light-grey);
}
.signup-box-wrapper .btn-box button{
    width: 100%;
    height: 50px;
    padding: 0;
    background: var(--bg-color-orange);
    border-radius: 8px;
    color: #ffffff;
    border: none;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}
.signup-box-wrapper .vip-form .vip-form-box{
    margin-bottom: 16px;
}
/* end of form section */

/* start of sign up with socials section */
.outside-signup-box .text-line{
    font-size: 14px;
    color:#9199a3;
    text-align: center;
    position: relative;
    margin-bottom: 16px;  
}
.outside-signup-box .socials .left{
    padding-right: 10px;
    float: left;
    width: 50%;
}
.outside-signup-box .socials .left .facebook{
    width: 100%;
}
.outside-signup-box .socials .left .facebook .socials-btn{
    color: #464c54;
    background-color: #ffffff;
    border: 1px solid #e3e5e8;
    width: 164px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    line-height: 1;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
.outside-signup-box .socials .left .facebook .socials-btn .facebook-icon img{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.outside-signup-box .socials .left .facebook .socials-btn .facebook-icon .facebook-text{
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}
.outside-signup-box .socials .right{
    padding-left: 10px;
    display: inline-block;
    width: 50%;
}
.outside-signup-box .socials .right .google{
    width: 100%;
}
.outside-signup-box .socials .right .google .socials-btn{
    color: #464c54;
    background-color: #ffffff;
    border: 1px solid #e3e5e8;
    width: 164px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    line-height: 1;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
.outside-signup-box .socials .right .google .socials-btn .google-icon img{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.outside-signup-box .socials .right .google .socials-btn .google-icon .google-text{
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}
/* end of sign up with socials section */
/* end of login and password section */
/* end of email form section */
/* end of teach english online section  */

/* start of what we propose section  */
.main-section{
    width: 1200px;
    margin: 60px auto 0;
}
.main-section ul{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}
.main-section ul .step{
    width: 345px;
    text-align: center;
    list-style: none;
}
.main-section ul .step img{
    height: 60px;
    margin-bottom: 20px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.main-section ul .step .headline{
    height: 28px;
    line-height: 28px;
    margin: 0 0 12px;
    font-size: 18px;
    color:var(--text-color-black);
    position: relative;
    font-weight: 700;
    text-align: center;
}
.main-section ul .step .explain{
    width: 345px;
    padding: 0 12px;
    color: var(--text-light-grey);
    line-height: 24px;
    text-align: center;
}
.main-section ul .step .explain a{
    color: var(--bg-color-orange);
    text-decoration: underline;
    text-align: center;
    line-height: 24px;
}
/* end of what we propose section */

/* start of teacher review section */
.information-section{
    width: 1200px;
    margin: 140px auto;
}
.information-section .title-wrap{
    width: 1200px;
    margin: 0 auto;
}
.information-section .title-wrap .title{
    display: block;
    border-bottom: none;
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color-black);
    text-align: center;
    line-height: 48px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.information-section .title-wrap .line{
    display: block;
    width: 64px;
    height: 4px;
    margin: 0 auto 60px;
    background-color: var(--bg-color-orange);
    border-radius: 2px;
}
.information-section .teacher-list{
    display: flex;
    justify-content: space-between;
}
.information-section .teacher-list .teacher-item{
    position: relative;
    width: 376px;
    height: 570px;
    border: 2px solid #e3e5e6;
    border-radius: 20px;
    padding: 40px 34px 0;
}
.information-section .teacher-list .teacher-item::before{
    position: absolute;
    display: block;
    content:"";
    width: 28px;
    height: 23px;
    top: 250px;
    left: 35px;
    background: url(https://files.catbox.moe/gprqs1.png);
    background-size: 100% 100%;
}
.information-section .teacher-list .teacher-item .teacher-item-head{
    display: block;
    width: 212px;
    height: 212px;
    margin: 0 auto 35px;
    max-width: 100%;
}
.information-section .teacher-list .teacher-item .teacher-item-desc{
    margin-bottom: 10px;
    line-height: 20px;
    color:#474c54;
    font-size: 16px;
    margin-top: 0;
}
.information-section .teacher-list .teacher-item .teacher-item-name{
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 20px;
    color:#474c54;
    font-size: 16px;
    margin-top: 0;
}
.information-section .teacher-list .teacher-item .teacher-item-time{
    margin-bottom: 10px;
    line-height: 20px;
    color:#474c54;
    font-size: 16px;
    margin-top: 0;
}
/* end of teacher review section */

/* start of who is talking about us section */
.how-start{
    width: 1200px;
    margin: 140px auto;
}
.how-start .title{
    display: block;
    border-bottom: none;
    height: 48px;
    line-height: 48px;
    margin-bottom: 30px;
    font-size: 36px;
    color: var(--text-color-black);
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}
.how-start .line{
    display: block;
    width: 64px;
    height: 4px;
    margin: 0 auto 60px;
    background-color: var(--bg-color-orange);
    border-radius: 2px;
}
.how-start .benefits-wrap{
    display: flex;
    flex-direction: row;
}
.how-start .benefits-wrap .benefits-item{
    width: 620px;
    height: 289px;
    padding: 50px 60px;
    border-radius: 16px;
    background-color: #fef0cd;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    z-index: 2;
}
.how-start .benefits-wrap .benefits-item .quote{
    height: 20px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.how-start .benefits-wrap .benefits-item .describe{
    font-size: 28px;
    color: var(--text-color-black);
    margin-top: 30px;
    line-height: 40px;
    margin-bottom: 0;
}
.how-start .benefits-wrap .benefits-item .author{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.how-start .benefits-wrap .benefits-item .author .line{
    width: 12px;
    height: 3px;
    background-color: #464c54;
    margin: 0;
    display: block;
    border-radius: 2px;
}
.how-start .benefits-wrap .benefits-item .author img{
    width: 122px;
    height: 30px;
    margin-left: 8px;
    max-width: 100%;
    display: inline-block;
}
.how-start .benefits-wrap .benefits-item-last{
    width: 620px;
    height: 289px;
    padding: 50px 60px;
    border-radius: 16px;
    background-color: #ffdb90;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    z-index: 1;
    margin-left: -40px;
    margin-top: 40px;
    padding-left: 100px;
}
.how-start .benefits-wrap .benefits-item-last .quote{
    height: 20px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.how-start .benefits-wrap .benefits-item-last .describe{
    font-size: 28px;
    color: var(--text-color-black);
    margin-top: 30px;
    line-height: 40px;
    margin-bottom: 0;
}
.how-start .benefits-wrap .benefits-item-last .author{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.how-start .benefits-wrap .benefits-item-last .author .line{
    width: 12px;
    height: 3px;
    background-color: #464c54;
    margin: 0;
    display: block;
    border-radius: 2px;
}
.how-start .benefits-wrap .benefits-item-last .author img{
    width: 122px;
    height: 30px;
    margin-left: 8px;
    max-width: 100%;
    display: inline-block;
}
.how-start .recommend{
    margin: 60px auto 0;
}
.how-start .recommend .title{
    font-size: 20px;
    color: #2f3338;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    display: block;
    border-bottom: none;
    height: 48px;
    line-height: 48px;
}
.how-start .recommend .brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.how-start .recommend .brand .bloom-img{
    margin-left: 0;
    width: 114px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
}
.how-start .recommend .brand .insider-img{
    margin-left: 60px;
    width: 114px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
}
.how-start .recommend .brand .fortune-img{
    margin-left: 60px;
    width: 92px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
}
.how-start .recommend .brand .forbes-img{
    margin-left: 60px;
    width: 80px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
}
.how-start .recommend .brand .econom-img{
    margin-left: 60px;
    width: 71px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
}
.how-start .recommend .brand .cn-img{
    margin-left: 60px;
    width: 44px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
}
/* end of who is talking about us section */

/* start of ready to teach section */
.footer-sign-up{
    height: 660px;
    min-width: 1200px;
    background: radial-gradient(closest-side at 40% 50%, #fef0cd, #ffdb90);
}
.footer-sign-up .content{
    position: relative;
    height: 100%;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://files.catbox.moe/17c72k.png);
    background-position: 0 100%;
    background-size: 800px auto;
    background-repeat: no-repeat;
}
.footer-sign-up .content h2{
    border-bottom: none;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    transform: translate(30px, -150px);
    margin-top: 20px;
    color: var(--main-text-color);
    margin-bottom: 20px;
}
/* start of email form section */
.footer-sign-up .content .sign-up-section .sign-up-wrapper{
    width: 380px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 8px;
    margin: 0 auto;
    padding: 20px;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .title{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--main-text-color);
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper{
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--text-light-grey);
}
/* start of email and password section */
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .input{
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    line-height: 48px;
    color: var(--text-light-grey);
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .input-inner{
    border-radius: 8px;
    line-height: 18px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: var(--main-text-color);
    border-color: #e3e5e8;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    background-image: none;
    display: inline-block;
    padding: 0 15px;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .footnote-box{
    color: #9199a3;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .footnote-box a{
    color:#9199a3;
    text-decoration: underline;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .btn-box{
    font-size: 16px;
    color: var(--text-light-grey);
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .btn-box button{
    width: 100%;
    height: 50px;
    padding: 0;
    background: var(--bg-color-orange);
    border-radius: 8px;
    color: #ffffff;
    border: none;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .signup-box-wrapper .vip-form .vip-form-box{
    margin-bottom: 16px;
}
/* end of email and password section */

/* start of sign up with socials section */
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .text-line{
    font-size: 14px;
    color:#9199a3;
    text-align: center;
    position: relative;
    margin-bottom: 16px;  
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .left{
    padding-right: 10px;
    float: left;
    width: 50%;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .left .facebook{
    width: 100%;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .left .facebook .socials-btn{
    color: #464c54;
    background-color: #ffffff;
    border: 1px solid #e3e5e8;
    width: 164px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    line-height: 1;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .left .facebook .socials-btn .facebook-icon img{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .left .facebook .socials-btn .facebook-icon .facebook-text{
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .right{
    padding-left: 10px;
    display: inline-block;
    width: 50%;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .right .google{
    width: 100%;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .right .google .socials-btn{
    color: #464c54;
    background-color: #ffffff;
    border: 1px solid #e3e5e8;
    width: 164px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    line-height: 1;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .right .google .socials-btn .google-icon img{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-sign-up .content .sign-up-section .sign-up-wrapper .outside-signup-box .socials .right .google .socials-btn .google-icon .google-text{
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}
/* end of sign up with socials section */
/* end of email form section */
/* end of ready to teach section */

/* start of footer section */
.section-footer{
    min-width: 1200px;
    overflow: hidden;
    background-color: #f8f8f9;
}
.section-footer .footer-primary{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0;
}
.section-footer .footer-primary .logo{
    width: 100px;
    height: 32px;
    margin-bottom: 40px;
}
.section-footer .footer-primary .logo a{
    text-decoration: none;
    outline: none;
}
.section-footer .footer-primary .logo a img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.section-footer .footer-copyright{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 55px;
    margin: 16px auto 0;
    padding: 20px 0;
    border-top: 1px solid #e3e5e8;
    color: var(--bg-color-grey);
    font-size: 14px;
}
.section-footer .footer-copyright .left .line{
    display: inline-block;
    width: 1px;
    height: 10px;
    border-left: 1px solid var(--bg-color-grey);
    margin: 0 20px;
}
.section-footer .footer-copyright .left a{
    color: var(--bg-color-grey);
    margin-right: 20px;
    text-decoration: none;
    outline: none;
}
.section-footer .footer-copyright .social-links .links-inline{
    display: flex;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #f9f9f9;
    max-width: 100%;
    outline: none;
    text-decoration: none;
} 
.section-footer .footer-copyright .social-links .links-inline img{
    max-width: 100%;
    display: inline-block;
    color:var(--bg-color-grey);
    font-size: 14px;
}
/* end of footer section */

/* @media */
@media only screen and (max-width: 820px){
    .wrap{
        min-width: 558px;
        width:100%;
    }
    .content-wrapper{
        min-width: 558px;
        width:100%;
        height: 580px;
    }
    .nav-wrapper{
        min-width: 558px;
        width:100%;
    }
    .nav-content{
        min-width: 558px;
        width: 100%;
    }
    .menu-left a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-left img{
        width: 100px;
    }
    .menu-right a{
        font-size: 16px;
        margin: 0 10px;
    }
    .menu-right a.button{
        font-size: 16px;
        padding: 12px 20px;
        margin: 0 10px;
    }
    .main-content{
        display: flex;
        flex-direction: row;
    }
    .text-wrapper{
        margin-top: 30px;
        margin-left: 20px;
    }
    .text-wrapper img.banner{
        max-width: 450px;
        max-height: 230px;
        margin-left: 60px;
    }
    .text h1.teach-english{
        font-size: 45px;
        padding-right: 20px;
    }
    .text h2.money{
        font-size: 30px;
        padding-right: 20px;
    }
    .login-box .main-box{
        min-width: 350px;
        margin-top: -5px;
        margin-right: 10px;
    }
    .signup-wrapper{
        width: 350px;
    }
    .main-section{
        min-width: 558px;
        width:100%;
        margin: 40px auto 0;
    }
    .main-section ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-section ul .step{
        text-align: center;
        align-items: center;
        padding-top: 30px;
    }
    .information-section{
        min-width: 396px;
        width:100%;
        margin: 60px auto;
    }
    .information-section .title-wrap{
        min-width: 396px;
        width:100%;
    }
    .information-section .title-wrap .title{
        font-size: 28px;
    }
    .information-section .title-wrap .line{
        margin-bottom: 30px;
    }
    .information-section .teacher-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information-section .teacher-list .teacher-item{
        width: 345px;
        height: 480px;
        padding: 20px 24px 0;
        margin-top: 10px;
    }
    .information-section .teacher-list .teacher-item:nth-child(2){
        height: 400px;
    }
    .information-section .teacher-list .teacher-item:nth-child(3){
        height: 410px;
    }
    .information-section .teacher-list .teacher-item::before{
        top: 160px;
        left: 25px;
    }
    .information-section .teacher-list .teacher-item .teacher-item-head{
        width: 150px;
        height: 150px;
    }
    .how-start{
        min-width: 558px;
        width:100%;
        margin: 40px auto;
    }
    .how-start .title{
        font-size: 28px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 40px;
        margin-bottom: 60px;
    }
    .how-start .line{
        margin-bottom: 50px;
    }
    .how-start .benefits-wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }
    .how-start .benefits-wrap .benefits-item{
        width: 345px;
        height: 240px;
        padding-top: 25px;
    }
    .how-start .benefits-wrap .benefits-item-last{
        width: 345px;
        height: 240px;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 0;
    }
    .how-start .recommend .brand{
        min-width: 558px;
        width: 100%;
        padding-left: 0 !important;
    }
    .how-start .recommend .brand .insider-img, .how-start .recommend .brand .fortune-img, 
    .how-start .recommend .brand .forbes-img, .how-start .recommend .brand .econom-img,
    .how-start .recommend .brand .cn-img{
        margin-left: 25px;
    }
    .footer-sign-up{
        min-width: 558px;
        width:100%;
        height: 500px;
    }
    .footer-sign-up .content{
        min-width: 800px;
        width:100%;
        display: flex;
        flex-direction: row;
        background-size: 450px;

    }
    .footer-sign-up .content h2{
        font-size: 28px;
        line-height: 45px;
        margin-top: -200px;
        margin-left: 30px;
        text-align: center;
        transform:none;
    }
    .footer-sign-up .content .sign-up-section .sign-up-wrapper{
        width: 350px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .section-footer{
        min-width: 800px;
        width:100%;
    }
    .section-footer .footer-primary{
        min-width: 396px;
        width:100%;
        padding: 20px 0 0;
    }
    .section-footer .footer-primary .logo{
        width: 80px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .section-footer .footer-copyright{
        min-width: 558px;
        width: 100%;
        height: 60px;
        margin-left: 10px;
        padding-right: 20px;
    }
    .section-footer .footer-copyright .social-links .links-inline{
        margin-left: 10px;

    }
}
@media only screen and (max-width: 558px){
    .wrap{
        min-width: 396px;
        width:100%;
    }
    .content-wrapper{
        min-width: 396px;
        width:100%;
        height: 730px;
    }
    .nav-wrapper{
        min-width: 396px;
        width:100%;
    }
    .nav-content{
        min-width: 396px;
        width: 100%;
    }
    .menu-left a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-left img{
        width: 80px;
    }
    .menu-right a{
        font-size: 14px;
        margin: 0 10px;
    }
    .menu-right a.button{
        font-size: 14px;
        padding: 12px 20px;
        margin: 0 10px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-wrapper{
        margin-top: 10px;
        align-items: center;
        text-align: center;
    }
    .text-wrapper img.banner{
        display: none;
    }
    .text h1.teach-english{
        font-size: 35px;
    }
    .text h2.money{
        font-size: 20px;
    }
    .login-box .main-box{
        min-width: 350px;
        margin-top: -5px;
        margin: 0 auto;
    }
    .signup-wrapper{
        width: 350px;
    }
    .main-section{
        min-width: 396px;
        width:100%;
        margin: 40px auto 0;
    }
    .main-section ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-section ul .step{
        text-align: center;
        align-items: center;
        padding-top: 30px;
    }
    .information-section{
        min-width: 396px;
        width:100%;
        margin: 60px auto;
    }
    .information-section .title-wrap{
        min-width: 396px;
        width:100%;
    }
    .information-section .title-wrap .title{
        font-size: 28px;
    }
    .information-section .title-wrap .line{
        margin-bottom: 30px;
    }
    .information-section .teacher-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information-section .teacher-list .teacher-item{
        width: 345px;
        height: 480px;
        padding: 20px 24px 0;
        margin-top: 10px;
    }
    .information-section .teacher-list .teacher-item:nth-child(2){
        height: 400px;
    }
    .information-section .teacher-list .teacher-item:nth-child(3){
        height: 410px;
    }
    .information-section .teacher-list .teacher-item::before{
        top: 160px;
        left: 25px;
    }
    .information-section .teacher-list .teacher-item .teacher-item-head{
        width: 150px;
        height: 150px;
    }
    .how-start{
        min-width: 396px;
        width:100%;
        margin: 40px auto;
    }
    .how-start .title{
        font-size: 28px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 40px;
        margin-bottom: 60px;
    }
    .how-start .line{
        margin-bottom: 50px;
    }
    .how-start .benefits-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .how-start .benefits-wrap .benefits-item{
        width: 345px;
        height: 220px;
        padding: 20px 24px 0;
        z-index: unset;
    }
    .how-start .benefits-wrap .benefits-item-last{
        width: 345px;
        height: 220px;
        padding: 20px 24px 0;
        z-index: unset;
        margin-left: 0;
        margin-top: 10px;
        padding-left: 23px;
    }
    .how-start .recommend .brand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 400px;
        width: 100%;
    }
    .how-start .recommend .brand .insider-img, .how-start .recommend .brand .fortune-img, 
    .how-start .recommend .brand .forbes-img, .how-start .recommend .brand .econom-img,
    .how-start .recommend .brand .cn-img{
        margin-left: 0;
    }
    .how-start .recommend .brand .fortune-img, 
    .how-start .recommend .brand .forbes-img, .how-start .recommend .brand .econom-img{
        width: 90px;
        height: 40px;
    }
    .footer-sign-up{
        min-width: 396px;
        width:100%;
        height: 630px;
    }
    .footer-sign-up .content{
        min-width: 396px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-size: 500px;
    }
    .footer-sign-up .content h2{
        font-size: 28px;
        line-height: 45px;
        margin-top: -20px;
        margin-left: 0 !important;
        text-align: center;
        transform:none;
    }
    .footer-sign-up .content .sign-up-section .sign-up-wrapper{
        width: 350px;
        margin-top: 15px;
    }
    .section-footer{
        min-width: 396px;
        width:100%;
    }
    .section-footer .footer-primary{
        min-width: 396px;
        width:100%;
        padding: 20px 0 0;
        display: flex;
        flex-direction: row;
    }
    .section-footer .footer-primary .logo{
        width: 80px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .section-footer .footer-copyright{
        min-width: 396px;
        width: 100%;
        height: 80px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-footer .footer-copyright .left a{
        margin-right: 10px;
    }
    .section-footer .footer-copyright .social-links .links-inline{
        margin-left: 15px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 396px){
    .wrap{
        min-width: 360px;
        width:100%;
    }
    .content-wrapper{
        min-width: 360px;
        width:100%;
        height: 730px;
    }
    .nav-wrapper{
        min-width: 360px;
        width:100%;
    }
    .nav-content{
        min-width: 360px;
        width: 100%;
    }
    .menu-left a{
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-left img{
        width: 80px;
    }
    .menu-right a{
        font-size: 14px;
        margin: 0 10px;
    }
    .menu-right a.button{
        font-size: 14px;
        padding: 12px 20px;
        margin: 0 10px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-wrapper{
        margin-top: 10px;
        align-items: center;
        text-align: center;
    }
    .text-wrapper img.banner{
        display: none;
    }
    .text h1.teach-english{
        font-size: 35px;
    }
    .text h2.money{
        font-size: 20px;
    }
    .login-box .main-box{
        min-width: 330px;
        margin-top: -5px;
        margin: 0 auto;
    }
    .signup-wrapper{
        width: 330px;
    }
    .main-section{
        min-width: 360px;
        width:100%;
        margin: 40px auto 0;
    }
    .main-section ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-section ul .step{
        text-align: center;
        align-items: center;
        padding-top: 30px;
    }
    .information-section{
        min-width: 360px;
        width:100%;
        margin: 60px auto;
    }
    .information-section .title-wrap{
        min-width: 360px;
        width:100%;
    }
    .information-section .title-wrap .title{
        font-size: 28px;
    }
    .information-section .title-wrap .line{
        margin-bottom: 30px;
    }
    .information-section .teacher-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information-section .teacher-list .teacher-item{
        width: 345px;
        height: 480px;
        padding: 20px 24px 0;
        margin-top: 10px;
    }
    .information-section .teacher-list .teacher-item:nth-child(2){
        height: 400px;
    }
    .information-section .teacher-list .teacher-item:nth-child(3){
        height: 410px;
    }
    .information-section .teacher-list .teacher-item::before{
        top: 160px;
        left: 25px;
    }
    .information-section .teacher-list .teacher-item .teacher-item-head{
        width: 150px;
        height: 150px;
    }
    .how-start{
        min-width: 360px;
        width:100%;
        margin: 40px auto;
    }
    .how-start .title{
        font-size: 28px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 40px;
        margin-bottom: 60px;
    }
    .how-start .line{
        margin-bottom: 50px;
    }
    .how-start .benefits-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .how-start .benefits-wrap .benefits-item{
        width: 345px;
        height: 220px;
        padding: 20px 24px 0;
        z-index: unset;
    }
    .how-start .benefits-wrap .benefits-item-last{
        width: 345px;
        height: 220px;
        padding: 20px 24px 0;
        z-index: unset;
        margin-left: 0;
        margin-top: 10px;
        padding-left: 23px;
    }
    .how-start .recommend .brand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 360px;
        width:100%;
    }
    .how-start .recommend .brand .insider-img, .how-start .recommend .brand .fortune-img, 
    .how-start .recommend .brand .forbes-img, .how-start .recommend .brand .econom-img,
    .how-start .recommend .brand .cn-img{
        margin-left: 0;
    }
    .how-start .recommend .brand .fortune-img, 
    .how-start .recommend .brand .forbes-img, .how-start .recommend .brand .econom-img{
        width: 90px;
        height: 40px;
    }
    .footer-sign-up{
        min-width: 360px;
        width:100%;
        height: 630px;
    }
    .footer-sign-up .content{
        min-width: 360px;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-size: 500px;
    }
    .footer-sign-up .content h2{
        font-size: 28px;
        line-height: 45px;
        margin-top: -20px;
        margin-left: 0 !important;
        text-align: center;
        transform:none;
    }
    .footer-sign-up .content .sign-up-section .sign-up-wrapper{
        width: 330px;
        margin-top: 15px;
        margin-right: 0px;
    }
    .section-footer{
        min-width: 360px;
        width:100%;
    }
    .section-footer .footer-primary{
        min-width: 360px;
        width:100%;
        padding: 20px 0 0;
        display: flex;
        flex-direction: row;
    }
    .section-footer .footer-primary .logo{
        width: 80px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .section-footer .footer-copyright{
        min-width: 360px;
        width: 100%;
        height: 80px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-footer .footer-copyright .left a{
        margin-right: 10px;
    }
    .section-footer .footer-copyright .social-links .links-inline{
        margin-left: 15px;
        margin-top: 10px;
    }
}
/* end of @media */